<!-- Inside index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta content=
		"This is a demo of Web integration
		of Razorpay in NodeJS"
		author="Mr. Twinkle Sharma" />
	<title>Razorpay Web-Integration</title>
</head>

<body>
	<hr/>
	<h2>Advanced Data Structures & Algorithms Course</h2>
	<h3>Description</h3>

	<ul>
		<li>Best Course for SDE placements</li>
		<li>
			Available in 4 major Languages JAVA,
			C/C++, Python, Javascript
		</li>
		<li>Lifetime Access</li>
	</ul>

	<span> Cost:- 499 Rupees
		<button id="pay-button" >
			Pay Now & Get Access
		</button>
	</span>
	<hr/>

	<!-- Processing Payment Checkout -->
	<!-- We will write code for payment here,
		Replace this comment with the code we
		are explaining below in step 5 of the
		article -->
</body>

</html>
